{% extends "base.html" %}

{% block title %}PiTrac Logs{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/logs.css">
{% endblock %}

{% block content %}
<div class="logs-container">
    <div class="logs-header">
        <div class="logs-controls-row">
            <div class="service-selector">
                <label for="serviceSelect">Service:</label>
                <select id="serviceSelect" onchange="changeService()">
                    <option value="">Loading services...</option>
                </select>
            </div>
            
            <div class="service-info">
                <span id="serviceStatus" class="service-status" style="display: none;"></span>
                <div class="connection-status">
                    <span class="status-indicator disconnected" id="connectionIndicator"></span>
                    <span id="connectionText">Disconnected</span>
                </div>
            </div>
            
            <div class="logs-actions">
                <button id="pauseButton" class="action-btn" onclick="togglePause()">
                    <svg fill="currentColor" viewBox="0 0 16 16">
                        <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <span class="btn-text">Pause</span>
                </button>
                <button id="clearButton" class="action-btn danger" onclick="clearLogs()">
                    <svg fill="currentColor" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    <span class="btn-text">Clear</span>
                </button>
                <button class="action-btn" onclick="downloadLogs()">
                    <svg fill="currentColor" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                    <span class="btn-text">Download</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="log-viewer-wrapper">
        <div class="log-viewer empty" id="logViewer"></div>
        
        <div class="log-stats">
            <div class="stat-item">
                <span class="stat-label">Lines:</span>
                <span class="stat-value" id="lineCount">0</span>
            </div>
            <div class="stat-item">
                <span class="stat-label">Errors:</span>
                <span class="stat-value" id="errorCount">0</span>
            </div>
            <div class="stat-item">
                <span class="stat-label">Warnings:</span>
                <span class="stat-value" id="warningCount">0</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/logs.js"></script>
{% endblock %}