## ActiveMQ instance options for PiTrac
## Instance: @ACTIVEMQ_INSTANCE_NAME@

INSTANCE=@ACTIVEMQ_INSTANCE_NAME@

ACTIVEMQ_CONF=/etc/activemq/instances-enabled/@ACTIVEMQ_INSTANCE_NAME@

ACTIVEMQ_DATA=@ACTIVEMQ_DATA_DIR@

ACTIVEMQ_OUT=@ACTIVEMQ_LOG_DIR@/activemq.log

# ACTIVEMQ_OPTS=""